<%- include('partials/header') %>

<div id='lista' class='ui list'>
	
<div class='item'>
	<li> <i class='user plus icon'></i> <a href='/register'> Sign Up </a></li>
</div>
<div class='item'>
	<li> <i class='sign-in icon'></i> <a href='/login'> Log In </a></li>
</div>
<div class='item'>
	<li> <i class='window close icon'></i> <a href='/logout'> Log Off </a></li>
</div>
	
</div>

<%- include('partials/footer') %>